@model IEnumerable<Course>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Duration</td>
        <td>
            <a asp-action="DeleteUser" asp-controller="Admin" asp-route-id="@item.Id" class="delete-user">Delete</a>
        </td>
    </tr>
}